In [102]:
import pandas as pd

In [103]:
df2024 = pd.read_csv("/content/drive/MyDrive/DataMining2025/행정동추정매출_2024.csv")
df2023 = pd.read_csv("/content/drive/MyDrive/DataMining2025/행정동추정매출_2023.csv")
df2022 = pd.read_csv("/content/drive/MyDrive/DataMining2025/행정동추정매출_2022.csv")
df2021 = pd.read_csv("/content/drive/MyDrive/DataMining2025/행정동추정매출_2021.csv")
df2020 = pd.read_csv("/content/drive/MyDrive/DataMining2025/행정동추정매출_2020.csv")

In [104]:
df_all = pd.concat([df2024,df2023,df2022,df2021,df2020], axis=0).reset_index(drop=True)

In [105]:
df_all.describe()

,기준_년분기_코드,행정동_코드,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
count,342555.000000,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,...,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05,3.425550e+05
mean,20222.538716,1.143972e+07,1.419102e+09,5.239838e+04,1.080552e+09,3.385504e+08,2.085458e+08,2.136826e+08,2.108212e+08,2.128753e+08,...,1.404315e+04,4.420775e+03,2.673508e+04,2.358735e+04,8.283990e+02,1.017459e+04,1.149712e+04,1.022208e+04,9.438972e+03,8.161253e+03
std,14.092941,1.884903e+05,1.034866e+10,2.184239e+05,7.129139e+09,3.711443e+09,1.352112e+09,1.405124e+09,1.406728e+09,1.421385e+09,...,5.336165e+04,1.852206e+04,1.100993e+05,1.039254e+05,5.635962e+03,4.877913e+04,4.827962e+04,3.949687e+04,3.981466e+04,6.870218e+04
min,20201.000000,1.111052e+07,5.200000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,20212.000000,1.129056e+07,6.345056e+07,9.970000e+02,4.771327e+07,9.132006e+06,7.606774e+06,7.777173e+06,7.981553e+06,7.818230e+06,...,2.700000e+02,0.000000e+00,4.440000e+02,3.940000e+02,0.000000e+00,4.500000e+01,1.280000e+02,1.990000e+02,1.870000e+02,1.130000e+02
50%,20222.000000,1.144070e+07,2.588344e+08,5.561000e+03,1.945049e+08,5.197948e+07,3.541727e+07,3.609630e+07,3.667923e+07,3.639837e+07,...,1.593000e+03,5.800000e+01,2.726000e+03,2.326000e+03,1.400000e+01,4.520000e+02,8.380000e+02,1.162000e+03,1.182000e+03,7.930000e+02
75%,20233.000000,1.162056e+07,9.145704e+08,2.978700e+04,6.975013e+08,1.986089e+08,1.338239e+08,1.355498e+08,1.347123e+08,1.341589e+08,...,8.763000e+03,1.207000e+03,1.425550e+04,1.375600e+04,2.610000e+02,3.929000e+03,5.355000e+03,5.842000e+03,5.756000e+03,4.332000e+03
max,20244.000000,1.174070e+07,8.664000e+11,2.278388e+07,6.785557e+11,4.246748e+11,1.285521e+11,1.442063e+11,1.528872e+11,1.333180e+11,...,4.011881e+06,1.628169e+06,1.035578e+07,1.192355e+07,1.710044e+06,6.665026e+06,2.965297e+06,3.160501e+06,4.769504e+06,1.261983e+07

In [106]:
columns = [
    '기준_년분기_코드', '행정동_코드', '행정동_코드_명',
    '서비스_업종_코드', '서비스_업종_코드_명',
    '주중_매출_금액', '주말_매출_금액',
    '남성_매출_금액', '여성_매출_금액',
    '연령대_10_매출_금액', '연령대_20_매출_금액',
    '연령대_30_매출_금액', '연령대_40_매출_금액',
    '연령대_50_매출_금액', '연령대_60_이상_매출_금액',
    '당월_매출_금액'
]
df_selected = df_all[columns]

In [107]:
df_selected.head()

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,당월_매출_금액
0,20241,11110515,청운효자동,CS100001,한식음식점,2359720647,922315502,1432278317,1086069188,6056404,290082685,576388693,525073149,557543338,563203225,3282036149
1,20241,11110515,청운효자동,CS100003,일식음식점,225051104,90856012,111927020,134266576,2941514,77707931,66758144,41686030,39586379,17513599,315907116
2,20241,11110515,청운효자동,CS100004,양식음식점,1540711320,1042034378,848643209,1337441650,5511141,516583625,811740462,339796971,316661656,195791010,2582745698
3,20241,11110515,청운효자동,CS100005,제과점,335822266,212315979,186259039,324037543,1812744,91892471,146712505,103323815,97484231,69070815,548138245
4,20241,11110515,청운효자동,CS100007,치킨전문점,48075887,30102727,38761872,35865558,749248,7866929,16933827,16231836,20243064,12602527,78178614

In [108]:
df_selected.to_csv("통합_years.csv",index=False,encoding='utf-8-sig')

In [109]:
# 총매출 컬럼
total_sales_col = '당월_매출_금액'

# 매출 구성 요소 컬럼 리스트
sales_components = [
    '주중_매출_금액', '주말_매출_금액',
    '남성_매출_금액', '여성_매출_금액',
    '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
    '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액'
]

# 그룹 기준 컬럼
group_cols = ['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명']

# 필요한 컬럼만 추출
df_need = df_selected[group_cols + [total_sales_col] + sales_components].copy()

# 정의되지 않은 매출 금액 계산
df_need['법인카드_외국인_신원미상_금액'] = df_need['당월_매출_금액'] - (df_need['남성_매출_금액'] + df_need['여성_매출_금액'])

# 결과 미리보기
print(df_need.head())

   기준_년분기_코드    행정동_코드 행정동_코드_명 서비스_업종_코드 서비스_업종_코드_명    당월_매출_금액    주중_매출_금액  \
0      20241  11110515    청운효자동  CS100001       한식음식점  3282036149  2359720647
1      20241  11110515    청운효자동  CS100003       일식음식점   315907116   225051104
2      20241  11110515    청운효자동  CS100004       양식음식점  2582745698  1540711320
3      20241  11110515    청운효자동  CS100005         제과점   548138245   335822266
4      20241  11110515    청운효자동  CS100007       치킨전문점    78178614    48075887

     주말_매출_금액    남성_매출_금액    여성_매출_금액  연령대_10_매출_금액  연령대_20_매출_금액  \
0   922315502  1432278317  1086069188       6056404     290082685
1    90856012   111927020   134266576       2941514      77707931
2  1042034378   848643209  1337441650       5511141     516583625
3   212315979   186259039   324037543       1812744      91892471
4    30102727    38761872    35865558        749248       7866929

   연령대_30_매출_금액  연령대_40_매출_금액  연령대_50_매출_금액  연령대_60_이상_매출_금액  법인카드_외국인_신원미상_금액
0     576388693     525073149     557543338        563203225         763688644
1      66758144      41686030      39586379         17513599          69713520
2     811740462     339796971     316661656        195791010         396660839
3     146712505     103323815      97484231         69070815          37841663
4      16933827      16231836      20243064         12602527           3551184

In [110]:
df_need.to_csv("need.csv",index=False,encoding='utf-8-sig')

In [111]:
# 업종별, 행정동별 그룹화
group_by_service = df_need.groupby(['서비스_업종_코드', '서비스_업종_코드_명'])
group_by_region = df_need.groupby(['행정동_코드', '행정동_코드_명'])

# 주말 매출 비율이 높은 업종
weekend_by_service = group_by_service[['주말_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['주말_매출_비율'] = weekend_by_service['주말_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('주말_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS300008   수산물판매           0.425856
CS300011   일반의류            0.377921
CS300032   가전제품            0.376725
CS300026   완구              0.371027
CS300025   자전거 및 기타운송장비    0.368199
CS200028   미용실             0.364855
CS200034   여관              0.357879
CS200019   PC방             0.354668
CS300015   가방              0.345414
CS200037   노래방             0.340465
Name: 주말_매출_비율, dtype: float64

In [112]:
# 주말 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['주말_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['주말_매출_비율'] = weekend_by_region['주말_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('주말_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11590520  노량진2동       0.443494
11170650  이태원1동       0.424334
11710566  오륜동         0.404328
11590510  노량진1동       0.399686
11110540  삼청동         0.399229
11545510  가산동         0.374960
11440710  연남동         0.368565
11380690  진관동         0.354180
11170520  용산2가동       0.352395
11305645  우이동         0.349882
Name: 주말_매출_비율, dtype: float64

In [113]:
# 업종별, 행정동별 그룹화
group_by_service = df_need.groupby(['서비스_업종_코드', '서비스_업종_코드_명'])
group_by_region = df_need.groupby(['행정동_코드', '행정동_코드_명'])

# 주중 매출 비율이 높은 업종
weekend_by_service = group_by_service[['주중_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['주중_매출_비율'] = weekend_by_service['주중_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('주중_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS300019   의료기기           0.955584
CS300021   문구             0.918687
CS200005   스포츠 강습         0.917137
CS200002   외국어학원          0.912744
CS300036   조명용품           0.908454
CS300018   의약품            0.888680
CS200024   스포츠클럽          0.882768
CS300003   컴퓨터및주변장치판매     0.878711
CS200007   치과의원           0.873794
CS200032   가전제품수리         0.873237
Name: 주중_매출_비율, dtype: float64

In [114]:
# 주중 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['주중_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['주중_매출_비율'] = weekend_by_region['주중_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('주중_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11170560  원효로1동       0.946103
11530530  구로2동        0.936354
11170570  원효로2동       0.921543
11650620  방배3동        0.904939
11560720  대림3동        0.903666
11560620  양평2동        0.897527
11710540  마천1동        0.882428
11410565  충현동         0.881477
11110580  교남동         0.874809
11560540  여의동         0.873292
Name: 주중_매출_비율, dtype: float64

In [115]:
# 남성, 여성 대표 뽑기
gender_by_service = group_by_service[['남성_매출_금액', '여성_매출_금액', '당월_매출_금액']].sum()

# 비율 계산
gender_by_service['남성_비율'] = gender_by_service['남성_매출_금액'] / gender_by_service['당월_매출_금액']
gender_by_service['여성_비율'] = gender_by_service['여성_매출_금액'] / gender_by_service['당월_매출_금액']

# 남성 비율이 높은 업종
man_service_sorted = gender_by_service.sort_values('남성_비율', ascending=False)
man_service_sorted = man_service_sorted.loc[:, '남성_비율']
man_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS200019   PC방             0.819503
CS200016   당구장             0.760928
CS200037   노래방             0.744397
CS300025   자전거 및 기타운송장비    0.727366
CS300019   의료기기            0.715573
CS300026   완구              0.701152
CS200017   골프연습장           0.659094
CS200025   자동차수리           0.638122
CS200034   여관              0.628817
CS300002   편의점             0.609834
Name: 남성_비율, dtype: float64

In [116]:
# 남성, 여성 대표 뽑기
gender_by_region = group_by_region[['남성_매출_금액', '여성_매출_금액', '당월_매출_금액']].sum()

# 비율 계산
gender_by_region['남성_비율'] = gender_by_region['남성_매출_금액'] / gender_by_region['당월_매출_금액']
gender_by_region['여성_비율'] = gender_by_region['여성_매출_금액'] / gender_by_region['당월_매출_금액']

# 남성 비율이 높은 행정동
man_region_sorted = gender_by_region.sort_values('남성_비율', ascending=False)
man_region_sorted = man_region_sorted.loc[:, '남성_비율']
man_region_sorted.head(10)

행정동_코드    행정동_코드_명
11560720  대림3동        0.637648
11260550  면목5동        0.610973
11620735  대학동         0.604695
11545640  독산4동        0.595290
11380510  녹번동         0.592135
11620665  서림동         0.581150
11470600  신월5동        0.579158
11620725  조원동         0.573785
11560670  신길5동        0.568917
11260660  망우3동        0.567565
Name: 남성_비율, dtype: float64

In [117]:
# 남성, 여성 대표 뽑기
gender_by_service = group_by_service[['남성_매출_금액', '여성_매출_금액', '당월_매출_금액']].sum()

# 비율 계산
gender_by_service['남성_비율'] = gender_by_service['남성_매출_금액'] / gender_by_service['당월_매출_금액']
gender_by_service['여성_비율'] = gender_by_service['여성_매출_금액'] / gender_by_service['당월_매출_금액']

# 여성 비율이 높은 업종
woman_service_sorted = gender_by_service.sort_values('여성_비율', ascending=False)
woman_service_sorted = woman_service_sorted.loc[:, '여성_비율']
woman_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS200029   네일숍            0.832174
CS200030   피부관리실          0.735056
CS300022   화장품            0.646435
CS300015   가방             0.627901
CS200036   고시원            0.626449
CS200006   일반의원           0.618245
CS200005   스포츠 강습         0.616230
CS200008   한의원            0.615638
CS300011   일반의류           0.603257
CS200003   예술학원           0.585293
Name: 여성_비율, dtype: float64

In [118]:
# 남성, 여성 대표 뽑기
gender_by_region = group_by_region[['남성_매출_금액', '여성_매출_금액', '당월_매출_금액']].sum()

# 비율 계산
gender_by_region['남성_비율'] = gender_by_region['남성_매출_금액'] / gender_by_region['당월_매출_금액']
gender_by_region['여성_비율'] = gender_by_region['여성_매출_금액'] / gender_by_region['당월_매출_금액']

# 여성 비율이 높은 행정동
woman_region_sorted = gender_by_region.sort_values('여성_비율', ascending=False)
woman_region_sorted = woman_region_sorted.loc[:, '여성_비율']
woman_region_sorted.head(10)

행정동_코드    행정동_코드_명
11650550  반포본동        0.653828
11170580  효창동         0.602185
11350611  하계1동        0.590993
11710710  잠실6동        0.589345
11110515  청운효자동       0.588213
11650580  반포3동        0.572330
11290590  돈암2동        0.572118
11350625  중계2·3동      0.571816
11710680  잠실3동        0.568642
11470670  신정6동        0.567490
Name: 여성_비율, dtype: float64

In [119]:
# 법인카드_외국인_신원미상에서 대표 뽑기
corp_by_service = group_by_service[['법인카드_외국인_신원미상_금액', '당월_매출_금액']].sum()

# 비율 계산
corp_by_service['법인카드_외국인_신원미상_비율'] = corp_by_service['법인카드_외국인_신원미상_금액'] / corp_by_service['당월_매출_금액']

# 법인카드_외국인_신원미상 비율이 높은 업종
corp_service_sorted = corp_by_service.sort_values('법인카드_외국인_신원미상_비율', ascending=False)
corp_service_sorted = corp_service_sorted.iloc[:, -1]
corp_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS300021   문구             0.541706
CS300003   컴퓨터및주변장치판매     0.429082
CS300028   화초             0.269736
CS200026   자동차미용          0.265515
CS300036   조명용품           0.248922
CS100003   일식음식점          0.246498
CS300033   철물점            0.232090
CS100002   중식음식점          0.221048
CS300035   인테리어           0.208824
CS100001   한식음식점          0.199009
Name: 법인카드_외국인_신원미상_비율, dtype: float64

In [120]:
# 법인카드_외국인_신원미상에서 대표 뽑기
corp_by_region = group_by_region[['법인카드_외국인_신원미상_금액', '당월_매출_금액']].sum()

# 비율 계산
corp_by_region['기타_비율'] = corp_by_region['법인카드_외국인_신원미상_금액'] / corp_by_region['당월_매출_금액']

# 법인카드_외국인_신원미상 비율이 높은 행정동
corp_region_sorted = corp_by_region.sort_values('기타_비율', ascending=False)
corp_region_sorted = corp_region_sorted.iloc[:, -1]
corp_region_sorted.head(10)

행정동_코드    행정동_코드_명
11560620  양평2동        0.467039
11170570  원효로2동       0.350982
11170625  한강로동        0.340722
11170560  원효로1동       0.337860
11560540  여의동         0.288467
11650652  양재2동        0.262888
11140520  소공동         0.257725
11440740  상암동         0.244085
11710631  가락1동        0.231150
11110670  창신1동        0.230694
Name: 기타_비율, dtype: float64

In [121]:
# 연령대_10 매출 비율이 높은 업종
weekend_by_service = group_by_service[['연령대_10_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['연령대_10_매출_비율'] = weekend_by_service['연령대_10_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('연령대_10_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS200019   PC방            0.078292
CS100006   패스트푸드점         0.017376
CS100008   분식전문점          0.016718
CS300020   서적             0.016190
CS100010   커피-음료          0.014967
CS300002   편의점            0.014169
CS200034   여관             0.013305
CS200037   노래방            0.012654
CS200016   당구장            0.012011
CS300026   완구             0.010992
Name: 연령대_10_매출_비율, dtype: float64

In [122]:
# 연령대_10 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['연령대_10_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['연령대_10_매출_비율'] = weekend_by_region['연령대_10_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('연령대_10_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11200550  사근동         0.038746
11350720  상계10동       0.031847
11290575  동선동         0.027549
11215710  화양동         0.026244
11440660  서교동         0.025861
11680660  개포1동        0.024346
11110650  혜화동         0.023492
11290600  안암동         0.022971
11620645  서원동         0.017405
11410585  신촌동         0.017331
Name: 연령대_10_매출_비율, dtype: float64

In [123]:
# 연령대_20 매출 비율이 높은 업종
weekend_by_service = group_by_service[['연령대_20_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['연령대_20_매출_비율'] = weekend_by_service['연령대_20_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('연령대_20_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS200019   PC방            0.531776
CS200036   고시원            0.301103
CS100009   호프-간이주점        0.255690
CS200024   스포츠클럽          0.252706
CS300002   편의점            0.243672
CS100010   커피-음료          0.243661
CS100006   패스트푸드점         0.226481
CS200034   여관             0.222678
CS100004   양식음식점          0.221507
CS200029   네일숍            0.195194
Name: 연령대_20_매출_비율, dtype: float64

In [124]:
# 연령대_20 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['연령대_20_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['연령대_20_매출_비율'] = weekend_by_region['연령대_20_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('연령대_20_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11200550  사근동         0.464829
11215710  화양동         0.424968
11440660  서교동         0.370400
11440710  연남동         0.360738
11410585  신촌동         0.333681
11620645  서원동         0.333675
11230710  회기동         0.325280
11290600  안암동         0.321753
11110650  혜화동         0.307423
11440655  서강동         0.294893
Name: 연령대_20_매출_비율, dtype: float64

In [125]:
# 연령대_30 매출 비율이 높은 업종
weekend_by_service = group_by_service[['연령대_30_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['연령대_30_매출_비율'] = weekend_by_service['연령대_30_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('연령대_30_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS200030   피부관리실          0.307817
CS200029   네일숍            0.286709
CS300002   편의점            0.278491
CS200024   스포츠클럽          0.270546
CS200033   부동산중개업         0.260347
CS300026   완구             0.255006
CS100010   커피-음료          0.253066
CS100004   양식음식점          0.252339
CS200005   스포츠 강습         0.251371
CS100009   호프-간이주점        0.245062
Name: 연령대_30_매출_비율, dtype: float64

In [126]:
# 연령대_30 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['연령대_30_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['연령대_30_매출_비율'] = weekend_by_region['연령대_30_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('연령대_30_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11710710  잠실6동        0.314370
11170650  이태원1동       0.299007
11500604  가양2동        0.287990
11710647  위례동         0.284027
11170660  이태원2동       0.283519
11440680  합정동         0.270305
11680545  압구정동        0.267029
11620695  신림동         0.266727
11440710  연남동         0.264087
11170685  한남동         0.261296
Name: 연령대_30_매출_비율, dtype: float64

In [127]:
# 연령대_40 매출 비율이 높은 업종
weekend_by_service = group_by_service[['연령대_40_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['연령대_40_매출_비율'] = weekend_by_service['연령대_40_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('연령대_40_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS200001   일반교습학원          0.638308
CS200002   외국어학원           0.586031
CS200003   예술학원            0.535112
CS200005   스포츠 강습          0.387094
CS300025   자전거 및 기타운송장비    0.306839
CS300020   서적              0.288516
CS200017   골프연습장           0.266560
CS300019   의료기기            0.252985
CS300026   완구              0.252648
CS300024   운동/경기용품         0.247504
Name: 연령대_40_매출_비율, dtype: float64

In [128]:
# 연령대_40 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['연령대_40_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['연령대_40_매출_비율'] = weekend_by_region['연령대_40_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('연령대_40_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11470670  신정6동        0.560849
11470550  목5동         0.545983
11350621  중계1동        0.516248
11410710  북가좌1동       0.483902
11650570  반포2동        0.479679
11680600  대치1동        0.462529
11710670  잠실2동        0.444277
11470680  신정7동        0.428008
11350619  중계본동        0.421651
11290660  길음1동        0.418083
Name: 연령대_40_매출_비율, dtype: float64

In [129]:
# 연령대_50 매출 비율이 높은 업종
weekend_by_service = group_by_service[['연령대_50_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['연령대_50_매출_비율'] = weekend_by_service['연령대_50_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('연령대_50_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS300019   의료기기           0.307299
CS200016   당구장            0.284010
CS200017   골프연습장          0.273930
CS200036   고시원            0.273761
CS300036   조명용품           0.270264
CS200001   일반교습학원         0.263967
CS200037   노래방            0.263537
CS200007   치과의원           0.262454
CS300031   가구             0.262317
CS300007   육류판매           0.253788
Name: 연령대_50_매출_비율, dtype: float64

In [130]:
# 연령대_50 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['연령대_50_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['연령대_50_매출_비율'] = weekend_by_region['연령대_50_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('연령대_50_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11650620  방배3동        0.351057
11710540  마천1동        0.341517
11260620  묵1동         0.330804
11350619  중계본동        0.326817
11350665  상계3·4동      0.317144
11560720  대림3동        0.309172
11530530  구로2동        0.306733
11680600  대치1동        0.303862
11545620  독산2동        0.295634
11350625  중계2·3동      0.294143
Name: 연령대_50_매출_비율, dtype: float64

In [131]:
# 연령대_60_이상 매출 비율이 높은 업종
weekend_by_service = group_by_service[['연령대_60_이상_매출_금액', '당월_매출_금액']].sum()
weekend_by_service['연령대_60_이상_매출_비율'] = weekend_by_service['연령대_60_이상_매출_금액'] / weekend_by_service['당월_매출_금액']
weekend_by_service_sorted = weekend_by_service.sort_values('연령대_60_이상_매출_비율', ascending=False)
weekend_by_service_sorted = weekend_by_service_sorted.iloc[:, -1]
weekend_by_service_sorted.head(10)

서비스_업종_코드  서비스_업종_코드_명
CS300006   미곡판매           0.473488
CS300009   청과상            0.440934
CS300007   육류판매           0.381660
CS300027   섬유제품           0.327501
CS300018   의약품            0.322827
CS300019   의료기기           0.303166
CS200007   치과의원           0.298108
CS200008   한의원            0.282189
CS300008   수산물판매          0.276489
CS300035   인테리어           0.271215
Name: 연령대_60_이상_매출_비율, dtype: float64

In [132]:
# 연령대_60_이상 매출 비율이 높은 행정동
weekend_by_region = group_by_region[['연령대_60_이상_매출_금액', '당월_매출_금액']].sum()
weekend_by_region['연령대_60_이상_매출_비율'] = weekend_by_region['연령대_60_이상_매출_금액'] / weekend_by_region['당월_매출_금액']
weekend_by_region_sorted = weekend_by_region.sort_values('연령대_60_이상_매출_비율', ascending=False)
weekend_by_region_sorted = weekend_by_region_sorted.iloc[:, -1]
weekend_by_region_sorted.head(10)

행정동_코드    행정동_코드_명
11230545  제기동         0.502687
11410690  남가좌1동       0.430299
11650550  반포본동        0.427479
11320521  도봉1동        0.391546
11410640  홍제3동        0.380816
11305615  수유1동        0.371524
11620745  삼성동         0.371012
11230705  청량리동        0.364616
11545610  독산1동        0.361120
11710510  풍납1동        0.360619
Name: 연령대_60_이상_매출_비율, dtype: float64